<div class='schedule-inner'>

  <h2 class='schedule-main-title'>Сьогодні в ефірі</h2>

  <div class='schedule-item'>
    <div class='schedule-timer'>12:40</div>
    <h4 class="schedule-item__subtitle">Інтерв’ю</h4>
    <h3 class="schedule-item__title">Прямий ефір з урбаністом Павлом Дорошенком</h3>
    <a class='schedule-item__g-calendar' target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=bzExMnYxMTBxbW11N2cxZDRndnRtam81bmsgNTNkam02OGNhMHFwdWlwcjh0ZzRta2JvaWtAZw&amp;tmsrc=53djm68ca0qpuipr8tg4mkboik%40group.calendar.google.com">додати в календар</a>
  </div>

  <div class='schedule-item'>
    <div class='schedule-timer'>12:40</div>
    <h4 class="schedule-item__subtitle">Інтерв’ю</h4>
    <h3 class="schedule-item__title">Прямий ефір з урбаністом Павлом Дорошенком</h3>
    <a class='schedule-item__g-calendar' target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=bzExMnYxMTBxbW11N2cxZDRndnRtam81bmsgNTNkam02OGNhMHFwdWlwcjh0ZzRta2JvaWtAZw&amp;tmsrc=53djm68ca0qpuipr8tg4mkboik%40group.calendar.google.com">додати в календар</a>
  </div>

  <div class='schedule-item'>
    <div class='schedule-timer'>12:40</div>
    <h4 class="schedule-item__subtitle">Інтерв’ю</h4>
    <h3 class="schedule-item__title">Прямий ефір з урбаністом Павлом Дорошенком</h3>
    <a class='schedule-item__g-calendar' target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=bzExMnYxMTBxbW11N2cxZDRndnRtam81bmsgNTNkam02OGNhMHFwdWlwcjh0ZzRta2JvaWtAZw&amp;tmsrc=53djm68ca0qpuipr8tg4mkboik%40group.calendar.google.com">додати в календар</a>
  </div>

</div>
