<div class="container clearfix">
  <p class='main-footer__rights b13'>©All rights reserved</p>
  <div class='main-footer__logo b13'></div>
  <div class='main-footer__socials b13'>
    <a class='f-fb' href='#' target='_blank'></a>
    <a class='f-tw' href='#' target='_blank'></a>
  </div>
</div>
