<div class='main-block'>
  <header class='main-block__header'>

  <div id='header-video'></div>
    <div class='listeners'>
      Онлайн слухачів
      <div class="listeners__counter">223</div>
    </div>

    <div class='main-logo'></div>
  </header>

  <div class='main-radio'>
    <button class="main-radio__button-play" {{action 'openPlayer'}}></button>

    <div class='main-radio__now-title'>Зараз в ефірі</div>
    <div class='main-radio__now'>
      <span class='main-radio__now-singer'>Onuka</span>
      <span class='main-radio__now-song'>— When I met you</span></div>
    <div class='main-radio__next'>
      <span class='main-radio__next-title'>Далі</span>
      <span class='main-radio__next-song'>Океан Ельзи — Життя починається знов</span>
    </div>


    <div class='main-video-control'>
      <div class='main-video-control-icon'></div>
      <button class='main-video-control-prev' {{action "prevVideo"}}></button>
      <button class='main-video-control-next' {{action "nextVideo"}}></button>
    </div>
  </div>
</div>
