<div class='x-payer__sound-bar-progress' style={{style}}></div>
<div class='x-payer__sound-bar-row r1'></div>
<div class='x-payer__sound-bar-row r2'></div>
<div class='x-payer__sound-bar-row r3'></div>
<div class='x-payer__sound-bar-row r4'></div>
<div class='x-payer__sound-bar-row r5'></div>
<div class='x-payer__sound-bar-row r6'></div>
<div class='x-payer__sound-bar-row r7'></div>
<div class='x-payer__sound-bar-row r8'></div>
