doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="width=device-width", name="viewport")
    // build:css /assets/app.css
    link(rel="stylesheet", href="/../bower_components/normalize-scss/normalize.css")
    link(rel="stylesheet", href="/assets/app.css")
    // endbuild
    title Urban Space Radio
    meta(content="Urban Space Radio — в радіо, в ефірі якого українська сучасна музика і програми на тему урбаністики та розвитку міста", name="description")

    meta(content="Urban Space Radio", property="og:title")
    meta(content="Радіо нового формату, в ефірі якого звучить українська сучасна музика і програми на тему урбаністики та розвитку міста", property="og:description")
    meta(content="/assets/radio.png", property="og:image")
  body
    block content

    link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic", rel="stylesheet")

    // build:js /assets/app.js
    script(src="/../bower_components/fastclick/lib/fastclick.js")
    script(src="/../bower_components/jquery/dist/jquery.min.js")
    script(src="/../bower_components/jPlayer/dist/jplayer/jquery.jplayer.min.js")
    script(src="/assets/app.js")
    // endbuild
