doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="width=device-width", name="viewport")

    <!--[if lt IE 9]>
    <script src="http://cdn.polyfill.io/v1/polyfill.min.js?features=Array.prototype.indexOf,Object.keys,Function.prototype.bind,Array.prototype.forEach,JSON"></script>
    <![endif]-->

    script.
      paceOptions = {
        catchupTime: 10, ghostTime: 10, minTime: 10, maxProgressPerFrame: 34, elements: false, restartOnPushState: false, restartOnRequestAfter: 100,
        ajax: { trackMethods: ['GET', 'POST', 'PUT', 'DELETE'], trackWebSockets: false }
      }

    // build:js /assets/app.js
    script(src="/../src/scripts/lib/block_log.js")

    script(src="/../src/scripts/modernizr.js")

    script(src="/../src/scripts/translate.js")


    script(src="/../bower_components/PACE/pace.js")

    script(src="/../bower_components/fastclick/lib/fastclick.js")

    script(src="/../bower_components/mithril/mithril.js")

    script(src="/../bower_components/ramda/dist/ramda.js")

    script(src="/../bower_components/store.js/store.js")
    script(src="/../bower_components/leaflet/dist/leaflet-src.js")

    script(src="/../bower_components/lazysizes/plugins/respimg/ls.respimg.js")
    script(src="/../bower_components/lazysizes/plugins/bgset/ls.bgset.js")
    script(src="/../bower_components/lazysizes/lazysizes.js")


    script(src="/../bower_components/hello/src/hello.polyfill.js")
    script(src="/../bower_components/hello/src/hello.js")
    script(src="/../bower_components/hello/src/modules/facebook.js")
    script(src="/../bower_components/hello/src/modules/twitter.js")
    script(src="/../bower_components/hello/src/modules/google.js")
    script(src="/../bower_components/hello/src/modules/vk.js")

    script(src="/assets/app.js")
    // endbuild

    link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800|PT+Sans:400,700|PT+Serif:400,400italic|PT+Sans+Narrow:400,700&subset=latin,cyrillic", rel="stylesheet")

    // build:css /assets/app.css
    link(rel="stylesheet", href="/assets/app.css")
    // endbuild
  body
