.main-content { min-height: auto; height: 100%; }

@import 'text-block';

@import 'hover-mask-anim';

@import 'lazyload';

@import 'available-directions';

@import 'bricks';

@import 'trip-item';

@import 'peer-review';

@import 'map';

.btn-container {
  padding: pem(20) 0;
  text-align: center;
}

.btn-container__padding-top { padding-top: pem(35); }

.guide-catalog__section {
  background: #f1f1f1;
  text-align: center;
}

.guide-catalog__container { padding-bottom: pem(20); }
