.main-footer {
  background-color:  rgb(20, 25, 40);
  min-height: 94px;
  padding: 15px 30px;
  margin-top: -94px;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.col_1_of_3 {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  float: left;
}

.main-footer__left {
  font-size: 12px;
  color:  #adadad;
  line-height: 2;
  left: -33.33%;
}
  .made_in {
    margin-top: 10px;
    padding-left: 22px;
    background: url('if-logo.png') left center no-repeat;
  }
  .copyright {}


.main-footer__center {
  text-align: center;
  margin: 23px 0 15px;
  left: 33.33%;
}
  .main-footer__site {
    display: inline-block;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin: 0 17px;
    line-height: 22px;
    border-bottom: 1px solid white;
    &:hover {
      border-bottom: none;
    }
  }

.main-footer__right {
  text-align: right;
}
  .webmil {
    margin-top: 20px;
    display: inline-block;
    width: 39px;
    height: 28px;
    background: url('webmil.png') center center no-repeat;
  }

@media (max-width: 940px) {
  .main-footer {
    margin-top: -131px;
    padding: 15px 15px;
  }
  .main-footer__center, .main-footer__left, .main-footer__right {
    left: 0;
  }
  .main-footer__center {
    width: 100%;
    margin: 10px 0 10px;
  }
  .main-footer__left {
    width: 85%;
  }
  .main-footer__right {
    width: 15%;
  }
}
