.main-footer {
  background-color:  rgba(0, 0, 0, 0.3);
  height: 94px;
  padding: 0 30px;
  margin-top: -94px;
}

.col_1_of_3 {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}

.main-footer__left {
  font-size: 12px;
  color:  #adadad;
  line-height: 2;
}
  .made_in {
    margin-top: 25px;
    padding-left: 22px;
    background: url('if-logo.png') left center no-repeat;
  }
  .copyright {
  }


.main-footer__center {
  text-align: center;
}
  .main-footer__site {
    display: inline-block;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin: 38px 17px 0;
    line-height: 22px;
    border-bottom: 1px solid white;
    &:hover {
      border-bottom: none;
    }
  }

.main-footer__right {
  text-align: right;
}
  .webmil {
    margin-top: 35px;
    display: inline-block;
    width: 39px;
    height: 28px;
    background: url('webmil.png') center center no-repeat;
  }
