.h-player {
  background-color:  rgba(0, 0, 0, 0.5);
  width: 470px;
  height: 122px;
  border-radius: 61px;
  text-align: left;
  display: inline-block;
  position: relative;
}
  .h-black {
    left: 61px;
    position: absolute;
    height: 122px;
    width: 120px;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      left: -108px;
      top: -47px;
      width: 216px;
      height: 216px;
      border-radius: 50%;
      background-color:  rgba(0, 0, 0, 0.23);
    }
  }


  .h-player__btn {
    border-radius: 50%;
    width: 193px;
    height: 193px;
    background:  url('big-btn.png');
    position: absolute;
    left: -35.5px;
    top: -35.5px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 50%;left: 50%;
      transform: translate(-50%, -50%);
      background: url('big-btn-halo.png') center center no-repeat;
      background-size: cover;
      width: 245px;
      height: 245px;
      opacity: 1;
      transition: all 0.3s;
    }
    &:hover {
      &:before {
        opacity: 0;
        width: 100%;
        height: 100%;
      }
    }
    animation: pulse 0.5s cubic-bezier(0.71, 0.11, 0.11, 0.78);
    &:active {
      animation: none;
    }
  }

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}



    .p-btn {
      width: 85px;
      height: 44px;
      position: absolute;
      top: 50%;left: 65%;
      transform: translate(-50%, -50%);
    }
    .p-btn__pause-cont {
      @extend .noselect;
      display: inline-block;
      height: 44px;
      width: 46px;
      cursor: pointer;
    }
    .p-btn__pause {
      display: inline-block;
      height: 100%;
      width: 0;
      background-color: #fff;
      border-radius: 2px;
      transform: translateX(-20px);
      cursor: pointer;
      transition: all 250ms cubic-bezier(.12,.91,.67,.89);
      &:after {
        display: inline-block;
        position: relative;
        content: '';
        left: 22px;
        height: 100%;
        width: 0;
        background-color: #fff;
        border-radius: 2px;
        transform: translateX(-20px);
        transition: all 250ms cubic-bezier(.12,.91,.67,.89);
      }
    }
    .jp-state-playing .p-btn .p-btn__pause {
      width: 16px;
      transform: translateX(-7px);
      &:after {
        width: 16px;
        transform: translateX(5px);
      }
    }
    .p-btn__play {
      @extend .noselect;
      display: inline-block;
      position: relative;
      width: 0;
      height: 0;
      opacity: 1;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      border-left: 38px solid #fff;
      transform: translate(-46px, 0);
      cursor: pointer;
      transition: all 250ms cubic-bezier(.12,.91,.67,.89);
    }

    .jp-state-playing .p-btn .p-btn__play {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      transform: translate(-10px, -12px);
      opacity: 0;
      visibility: hidden;
    }


  .h-player__desc {
    margin-left: 184px;
    max-width: 250px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -5px;
  }
    .h-player__now-title {
      color:  #2bc5b9;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 8px;
    }
    .h-player__now-singer-and-song {
      color:  #ffffff;
      font-weight: 700;
    }
      .h-player__now-singer {
        font-size: 20px;
      }
      .h-player__now-song {
        margin-top: 2px;
        font-size: 16px;
      }

.player {
  display: none;
}

// .jp-volume-controls {
//   position: absolute;
//   right: 0;
// }
// .jp-volume-bar-value {
//   height: 10px;
//   background: gray;
// }
@media (max-width: 450px) {
  .h-player {
    margin-left: -20px;
  }
  .h-player__desc {
    margin-left: 180px;
    width: 180px;
  }
}
