.socials {
  text-align: center;
  margin-top: -60px;
  margin-bottom: 100px;
  z-index: 5;
  position: relative;
}
  .soc-fb,
  .soc-tw,
  .soc-gplus,
  .soc-youtube,
  .soc-4sqr {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    position: relative;

    z-index: 1;
    overflow: visible;

    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 50%;left: 50%;
      transform: translate(-50%, -50%);

      background-size: cover;

      width: 50px;
      height: 50px;
      opacity: 0;
      transition: all 0.3s;
    }

    &:hover {
      &:before {
        width: 64px;
        height: 64px;
        opacity: 1;
      }
    }
  }
  .soc-fb {
    background: #0a83d7 url('socials/fb.png') center center no-repeat;
    &:before {
      background-image: url('socials/fb-holo.png');
    }
  }
  .soc-tw { background: #00bff6 url('socials/tw.png') center center no-repeat;
    &:before {
      background-image: url('socials/tw-holo.png');
    }
  }
  .soc-gplus { background: #ff2424 url('socials/gplus.png') center center no-repeat;
    &:before {
      background-image: url('socials/gplus-holo.png');
    }
  }
  .soc-youtube { background: #f10000 url('socials/youtube.png') center center no-repeat;
    &:before {
      background-image: url('socials/youtube-holo.png');
    }
  }
  .soc-4sqr { background: #f84675 url('socials/4sqr.png') center center no-repeat;
    &:before {
      background-image: url('socials/4sqr-holo.png');
    }
  }
