.b13 {
  float: left;
  width: 33.33%;
}

.main-footer {
  background-color:  #122b2e;
  height: 88px;
}
.main-footer__rights {
  color:  #1fe8dc;
  font-weight: 700;
  line-height: 88px;
  margin: 0;
}
.main-footer__logo {
  background: url('footer-logo.png') no-repeat center center;
  height: 88px;
}

.main-footer__socials {
  text-align: right;
  margin-top: 30px;
}
.f-fb, .f-tw {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.f-fb {
  background: url('fb-icon.png');
}
.f-tw {
  background: url('tw-icon.png');
}
