.x-chat-inner {
  background-color:  #eaeaea;
  padding: 17px 7px 0;
}

.x-chat-icon {
  width: 20px;
  height: 10px;
  background: url('x-chat-icon.png');
  margin-left: 10px;
}

.x-chat-msgs-wrap {
  height: 300px;
  overflow-y: scroll;
}

.x-chat-message {
  position: relative;
  padding: 20px 20px 20px 58px;
  border-bottom: 1px solid #d7d7d7;
}
  .x-chat-user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 30px;
  }
    .x-chat-user-icon-img {}
  .x-chat-user-other {

  }
    .x-chat-user-name {
      color:  #323232;
      font-weight: 700;
    }
    .x-chat-user-message {
      color:  #7c7c7c;
      line-height: 26px;
    }

.x-chat-bot {
  position: relative;
  padding: 20px 20px 20px 58px;
}
  .x-chat-bot-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 20px;
  }
    .x-chat-bot-icon-img {}
  .x-chat-bot-other {}
    .x-chat-bot-textarea {
      display: block;
      width: 100%;
      border: none;
      padding: 10px;
      box-sizing: border-box;
    }
    .x-chat-bot-btn {
      margin-top: 10px;
      float: right;
      color:  #1398a4;
      font-weight: 700;
      padding: 0 0 0 51px;
      // background: url('x-char-btn.png') left center no-repeat;
      background: none;
      line-height: 40px;
      height: 40px;
      position: relative;
    }

    .x-chat-bot-btn-icon {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.47);
      background: #54ffdd url('x-chat-btn-icon.png') center center no-repeat;
      position: absolute;
      left: 0;
    }



