@import 'partials/base';
@import 'partials/tooltip';

.wrap {
  min-height: 100%;
  text-align: center;
  background: #263856 url('bg.jpg') center center no-repeat;
  overflow: auto;
  padding-bottom: 94px;
}

@media (max-width: 940px) {
  .wrap {
    overflow: hidden;
    padding-bottom: 131px;
  }
}

.additional-players {
  float: right;
  margin: 30px 30px 0 0;
}
  .ap-tunein,
  .ap-winamp {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 10px;
  }
  .ap-tunein {
    background: url('play-tunin.png');
  }
  .ap-winamp {
    background: url('play-winamp.png')
  }

@media (max-width: 940px) {
  .additional-players {
    margin: 15px 15px 0 0;
  }
}


.main-logo {
  width: 246px;
  height: 93px;
  background: url('main-logo.png') center center no-repeat;
  text-indent: -99999px;
  margin: 38px auto 83px;
}
@media (max-width: 940px) {
  .main-logo {
    margin: 70px auto 50px;
  }
}

@import 'partials/player';
@import 'partials/banner';
@import 'partials/socials';
@import 'partials/partners';
@import 'partials/footer';
