proffit!!!!!!!11111


<div class="announcment-bg" style={{model.bgStyle}}></div>
<h4 class="ann__subtitle">{{model.category}}</h4>
<h3 class="ann__title">{{model.name}}</h3>
<date class="ann__time">{{model.formattedDate}}</date>
