{{main-block}}


<div class='container'>
  <div class='announcments clearfix'>
    <section class='announcment'>
      <div class="announcment-inner">
        <div class="announcment-bg" style="background-image: url('assets/article1.jpg');"></div>
        <h4 class="ann__subtitle">Анонс</h4>
        <h3 class="ann__title">Зустріч з архітектором</h3>
        <date class="ann__time">18 жовтня о 12:00</date>
      </div>
    </section>
    <section class='announcment'>
      <div class="announcment-inner">
        <div class="announcment-bg" style="background-image: url('assets/article2.jpg');"></div>
        <h4 class="ann__subtitle">Програма</h4>
        <h3 class="ann__title">Розповідь про себе</h3>
        <date class="ann__time">18 жовтня о 16:00</date>
      </div>
    </section>
    <section class='announcment'>
      <div class="announcment-inner">
        <div class="announcment-bg" style="background-image: url('assets/article3.jpg');"></div>
        <h4 class="ann__subtitle">Інтерв’ю</h4>
        <h3 class="ann__title">Віктор Зотов</h3>
        <date class="ann__time">18 жовтня о 18:00</date>
      </div>
    </section>
    <section class='announcment'>
      <div class="announcment-inner ann-fake">
      </div>
    </section>


    <section class='schedule'>
      <div class='schedule-inner'>

        <h2 class='schedule-main-title'>Сьогодні в ефірі</h2>

        <div class='schedule-item'>
          <div class='schedule-timer'>12:40</div>
          <h4 class="schedule-item__subtitle">Інтерв’ю</h4>
          <h3 class="schedule-item__title">Прямий ефір з урбаністом Павлом Дорошенком</h3>
          <a class='schedule-item__g-calendar' target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=bzExMnYxMTBxbW11N2cxZDRndnRtam81bmsgNTNkam02OGNhMHFwdWlwcjh0ZzRta2JvaWtAZw&amp;tmsrc=53djm68ca0qpuipr8tg4mkboik%40group.calendar.google.com">sadfasdf</a>
        </div>

        <div class='schedule-item'>
          <div class='schedule-timer'>12:40</div>
          <h4 class="schedule-item__subtitle">Інтерв’ю</h4>
          <h3 class="schedule-item__title">Прямий ефір з урбаністом Павлом Дорошенком</h3>
          <a class='schedule-item__g-calendar' target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=bzExMnYxMTBxbW11N2cxZDRndnRtam81bmsgNTNkam02OGNhMHFwdWlwcjh0ZzRta2JvaWtAZw&amp;tmsrc=53djm68ca0qpuipr8tg4mkboik%40group.calendar.google.com">sadfasdf</a>
        </div>

        <div class='schedule-item'>
          <div class='schedule-timer'>12:40</div>
          <h4 class="schedule-item__subtitle">Інтерв’ю</h4>
          <h3 class="schedule-item__title">Прямий ефір з урбаністом Павлом Дорошенком</h3>
          <a class='schedule-item__g-calendar' target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=bzExMnYxMTBxbW11N2cxZDRndnRtam81bmsgNTNkam02OGNhMHFwdWlwcjh0ZzRta2JvaWtAZw&amp;tmsrc=53djm68ca0qpuipr8tg4mkboik%40group.calendar.google.com">sadfasdf</a>
        </div>

      </div>
    </section>

    {{x-chat}}

  </div>
</div>



{{main-footer class='main-footer'}}

{{outlet}}
