{{main-block}}


<div class='container'>
  <div class='announcments clearfix'>
    <section class='announcment'>
      <div class="announcment-inner">
        <div class="announcment-bg" style="background-image: url('assets/article1.jpg');"></div>
        <h4 class="ann__subtitle">Анонс</h4>
        <h3 class="ann__title">Зустріч з архітектором</h3>
        <date class="ann__time">18 жовтня о 12:00</date>
      </div>
    </section>
    <section class='announcment'>
      <div class="announcment-inner">
        <div class="announcment-bg" style="background-image: url('assets/article2.jpg');"></div>
        <h4 class="ann__subtitle">Програма</h4>
        <h3 class="ann__title">Розповідь про себе</h3>
        <date class="ann__time">18 жовтня о 16:00</date>
      </div>
    </section>
    <section class='announcment'>
      <div class="announcment-inner">
        <div class="announcment-bg" style="background-image: url('assets/article3.jpg');"></div>
        <h4 class="ann__subtitle">Інтерв’ю</h4>
        <h3 class="ann__title">Віктор Зотов</h3>
        <date class="ann__time">18 жовтня о 18:00</date>
      </div>
    </section>
    <section class='announcment'>
      <div class="announcment-inner ann-fake">
      </div>
    </section>
  </div>
</div>

<div class='big-fake'></div>
{{!-- {{x-chat}} --}}


{{outlet}}
